# ignore these files
*.Rproj
.Rproj.user
.Rhistory
.Rdata
data/*
docs/*
output/**
temp/*
temp/data/*
temp/subset/*
# except these file
!docs/*xlsx
!**/README.md
!output/plot-table/**
!**/.DS_Store
