# ignore these archive files
*.Rproj
.Rproj.user
.Rhistory
.Rdata
**/.DS_Store
# pair of rule for dir
output/*
!output/plot-table
#
output/denovo/*
!output/denovo
#
output/tdt
!output/tdt/*
#
data/*
docs/*
temp/*
temp/data/*
temp/subset/*
# except these file
!docs/*xlsx
!**/*.md
