# ignore these archive files
*.Rproj
.Rproj.user
.Rhistory
.Rdata
**/.DS_Store
# pair of rule for dir
output/*
!output/plot-table
#
output/denovo/*
!output/denovo
#
output/tdt
!output/tdt/*
#
data/*
#
docs/*
!docs/*xlsx
#
temp/*
!temp/data
temp/data/*
#
!temp/subset
temp/subset/*
#
!temp/ld-r2
temp/ld-r2/*
# except all README.md file
!**/*.md
